<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RestaurantManagerSystem.Properties.Settings.ResManagerConnectionString"
            connectionString="Data Source=DESKTOP-0U3UGEI;Initial Catalog=ResManager;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>